name: Publish and release

on: 
    workflow_dispatch:
        inputs:
            version:
                description: "Version bump type"
                required: true
                default: "patch"
                type: choice
                options:
                    - patch
                    - minor
                    - major

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                node-version: '22'
                registry-url: https://registry.npmjs.org/
            - name: Verify npm auth
              run: npm whoami
              env:
                NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: Checkout repository
              uses: actions/checkout@v5
              with:
                token: ${{ secrets.GH_PAT }}
            - name: Install dependecies
              run: npm install
            - name: Configure git
              run: |
                git config user.name "github-actions[bot]"
                git config user.email "github-actions[bot]@users.noreply.github.com"
            - name: Bump version
              run: npm version ${{ inputs.version }}

            - name: Capture version
              id: version
              run: |
                echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT
            - name: Build project
              run: npm run build
            - name: Publish to npm
              run: npm publish
              env:
                 NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: Push commit and tag
              run: git push --follow-tags
              env:
                GITHUB_TOKEN: ${{ secrets.GH_PAT }}
            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                tag_name: v${{ steps.version.outputs.version }}
                name: v${{ steps.version.outputs.version }}
                generate_release_notes: true

